@import "nullstyle";
@import "vars";
@import "utils";
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,700&display=swap');

* {
  &::selection {
    color: $selection-dark;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: $main-background-dark;
  color: $main-color-dark;
  font-family: 'Newsreader', serif;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.editor-toolbar {
  background: #181a1c !important;
  button {
    background: #D6E1FFFF !important;
    margin-right: 5px !important;
    transition: 0.4s;
    &:hover {
      background: #91befa !important;
    }
  }
}

.CodeMirror {
  caret-color: red !important;
  background: #181a1c !important;
  color: $main-color-dark !important;
}

.CodeMirror-cursor {
  border-color: $main-color-dark !important;
}