.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}