@import "vars";
.button {
  background: none;
  border: none;
  max-width: fit-content;
  max-height: fit-content;
  color: inherit;
  padding: 2px 5px;
  line-height: 1;
  border-radius: 5px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba(255, 255, 255, 0.18);
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      background: none;
    }
  }
}