.main-page {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.page {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}