.font-m {
  font-size: 20px;
}

// ========== paddings ==========
.pt-20 {
  padding-top: 20px;
}
.pa-10 {
  padding: 10px;
}

// ========== margins ==========
.my-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-10 {
  margin-top: 10px !important;
}

// =============================
.fit-content {
  width: fit-content;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.gap-10 {
  gap: 10px;
}

.flex-end {
  align-self: flex-end;
}